.fade {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
	.fade {
		-webkit-transition: none;
		transition: none;
	}
}

.fade:not(.show) {
	opacity: 0;
}

.collapse:not(.show) {
	display: none;
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
	.collapsing {
		-webkit-transition: none;
		transition: none;
	}
}

.modal-open {
	overflow: hidden;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	        transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
	.modal.fade .modal-dialog {
		-webkit-transition: none;
		transition: none;
	}
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	        transform: none;
}

.modal.modal-static .modal-dialog {
	-webkit-transform: scale(1.02);
	        transform: scale(1.02);
}

.modal-dialog-scrollable {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
	max-height: calc(100vh - 1rem);
	overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
	overflow-y: auto;
}

.modal-dialog-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
	display: block;
	height: calc(100vh - 1rem);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
	max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
	content: none;
}

.modal-content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop.show {
	opacity: 0.5;
}

.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 1rem;
}

.modal-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
	margin: 0.25rem;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
	.modal-dialog-scrollable {
		max-height: calc(100% - 3.5rem);
	}
	.modal-dialog-scrollable .modal-content {
		max-height: calc(100vh - 3.5rem);
	}
	.modal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}
	.modal-dialog-centered::before {
		height: calc(100vh - 3.5rem);
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content;
	}
	.modal-sm {
		max-width: 300px;
	}
}

@media (min-width: 992px) {
	.modal-lg,
	.modal-xl {
		max-width: 800px;
	}
}

@media (min-width: 1200px) {
	.modal-xl {
		max-width: 1140px;
	}
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.close:hover {
	color: #000;
	text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
	opacity: .75;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
}

a.close.disabled {
	pointer-events: none;
}

/*
Common classes
*/
.nmgr-text-center {
	text-align: center !important;
}

.nmgr-background-color {
	background-color: #f8f8f8;
}

.nmgr-background-color.highlight {
	background-color: #e8e8e8;
}

.nmgr-hide {
	display: none;
}

.nmgr-circle {
	border-radius: 50%;
}

.nmgr-cursor-help {
	cursor: help;
}

svg.nmgr-icon:not(.nmgr-hide) {
	display: inline-block;
}

svg.nmgr-icon.align-with-text {
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.nmgr-sharing-options {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.nmgr-sharing-options .share-item:not(:last-child) {
	margin-right: 0.625em;
}

.nmgr-table {
	width: 100%;
	word-break: break-all;
	border-spacing: 0;
}

.nmgr-table .meta-item {
	font-size: 0.8125em;
}

.nmgr-table thead {
	display: none;
}

.nmgr-table tbody th,
.nmgr-table td {
	padding: .875em;
	text-align: right;
	line-height: 1.5em;
	vertical-align: top;
	display: block;
}

.nmgr-table tbody th:not(:last-child),
.nmgr-table td:not(:last-child) {
	border-bottom: 1px solid #f8f8f8;
}

.nmgr-table tbody th[data-title]:before,
.nmgr-table td[data-title]:before {
	content: attr(data-title) ": ";
	font-weight: 600;
	float: left;
}

.nmgr-table tbody th:after,
.nmgr-table td:after {
	content: '';
	clear: both;
	display: block;
}

.nmgr-table tr {
	margin-bottom: 1.875em;
	display: block;
	border: 1px solid #ccc;
}

.nmgr-table:not(.responsive) td {
	text-align: right !important;
}

.nmgr-table.responsive thead {
	display: table-header-group;
}

.nmgr-table.responsive thead th {
	line-height: 1;
	padding: 1em;
	background-color: #f8f8f8;
}

.nmgr-table.responsive thead th.sortable {
	cursor: pointer;
}

.nmgr-table.responsive thead .nmgr-arrow {
	float: right;
	position: relative;
	margin-right: -1em;
	padding-right: 0.4375em;
}

.nmgr-table.responsive tbody th,
.nmgr-table.responsive td {
	padding: 1em;
	display: table-cell;
	text-align: left;
}

.nmgr-table.responsive tbody th[data-title]:before,
.nmgr-table.responsive td[data-title]:before {
	content: '';
}

.nmgr-table.responsive tbody th:last-child,
.nmgr-table.responsive td:last-child {
	border-bottom: 1px solid #f8f8f8;
}

.nmgr-table.responsive tr {
	margin-bottom: 0;
	display: table-row;
	border: none;
}

#nmgr-modal .modal-body .close {
	padding: .36em;
	position: absolute;
	right: 8px;
	top: 3px;
}

#nmgr-modal.modal.fade .modal-dialog.no-transform {
	/* This class is used mainly to prevent the default bootstrap modal transform which brings down the modal. */
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
}

#nmgr-modal button:disabled, #nmgr-modal input[type='button']:disabled, #nmgr-modal button.disabled {
	opacity: 0.5 !important;
	cursor: not-allowed;
}

/*
Classes used on wishlist items template
*/
.nmgr-items-table a:hover svg {
	fill: #666;
}

.nmgr-items-table .thumbnail img {
	min-width: 1.875em;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.nmgr-items-table ul.variations {
	display: inline-block;
	margin: auto;
}

.nmgr-items-table tr.item-deleted-notice td {
	color: #aaa;
	text-align: left;
}

.nmgr-items-table tr .edit-delete-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.nmgr-items-table tr .edit-delete-wrapper a {
	color: #ccc;
	display: inline-block;
	cursor: pointer;
	margin: 0 0.75em 0 0;
	vertical-align: middle;
	text-decoration: none;
	line-height: 1em;
	width: 1em;
	overflow: hidden;
}

.nmgr-items-table tr .edit-delete-wrapper a:last-child {
	margin-right: 0;
}

.nmgr-items-table tr .actions.add_to_cart form.cart {
	display: inline-block;
}

.nmgr-items-table tr .actions.add_to_cart form.cart:before, .nmgr-items-table tr .actions.add_to_cart form.cart:after {
	content: '';
	display: table;
}

.nmgr-items-table tr .actions.add_to_cart form.cart:after {
	clear: both;
}

.nmgr-items-table tr .actions.add_to_cart form.cart .quantity:not(.hidden) {
	float: left;
	margin-right: 0.3125em;
}

.nmgr-items-table input.quantity {
	text-align: center;
	width: 3.631em;
}

.nmgr-items-table .total-cost .split-input {
	display: inline-block;
	background-color: inherit;
	border: 1px dashed #ddd;
	margin: 1px 0;
	min-width: 5em;
	overflow: hidden;
	line-height: 1em;
	text-align: right;
}

.nmgr-items-table .total-cost .split-input label {
	font-size: .75em;
	padding: 0.25em 0.375em 0;
	color: #888;
	display: block;
	white-space: nowrap;
}

.nmgr-items-table .total-cost .split-input input {
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin: 0;
	padding: 0 0.375em 0.25em;
	color: #888;
	background-color: inherit;
	text-align: right;
}

.nmgr-items-table input:invalid {
	border-color: red;
}

#nmgr-items.single.wishlist-fulfilled,
#nmgr-items.single:not(.wishlist-fulfilled) tr.item-fulfilled {
	opacity: .7;
}

#nmgr-items .after-table-row {
	text-align: right;
}

#nmgr-items .after-table-row table.total {
	margin-left: auto;
	padding: 0;
	width: 17em;
}

#nmgr-items .after-table-row table.total td, #nmgr-items .after-table-row table.total th {
	text-align: right;
}

#nmgr-items .after-table-row table.total .amount {
	font-weight: 700;
}

/**
 * .responsive class is actually for desktop display
 */
.nmgr-items-table.responsive tbody th,
.nmgr-items-table.responsive td {
	text-align: right;
}

.nmgr-items-table.responsive .thumbnail img {
	margin: 0;
}

.nmgr-items-table.responsive tr th.item_cost, .nmgr-items-table.responsive tr th.item_total_cost {
	text-align: right;
}

.nmgr-items-table.responsive tr th.item_quantity, .nmgr-items-table.responsive tr th.item_purchased_quantity, .nmgr-items-table.responsive tr th.item_favourite, .nmgr-items-table.responsive tr th.item_actions {
	text-align: center;
}

.nmgr-items-table.responsive tr .edit-delete-wrapper {
	visibility: hidden;
}

.nmgr-items-table.responsive tr td.quantity, .nmgr-items-table.responsive tr td.purchased-quantity, .nmgr-items-table.responsive tr td.favourite {
	text-align: center;
}

.nmgr-items-table.responsive tr td.name {
	text-align: left;
}

.nmgr-items-table.responsive tr td.actions.edit-delete {
	width: 1%;
}

.nmgr-items-table.responsive tr:hover .edit-delete-wrapper {
	visibility: visible;
}

.nmgr-add-items table.widefat {
	border: none;
}

.nmgr-add-items .modal-title {
	padding: 0;
	line-height: normal;
	font-weight: 500;
	margin: 0;
	font-size: 19px;
}

.nmgr-add-items .select2-container,
.nmgr-add-items select {
	width: 100% !important;
}

@media screen and (min-width: 786px) {
	.nmgr-add-items table thead th:last-child,
	.nmgr-add-items table tbody td:last-child {
		padding-right: 0;
	}
	.nmgr-add-items table thead th:first-child,
	.nmgr-add-items table tbody td:first-child {
		padding-left: 0;
	}
}

@media screen and (max-width: 785px) {
	.nmgr-add-items table {
		display: block;
	}
	.nmgr-add-items table tbody {
		display: block;
	}
	.nmgr-add-items table thead {
		display: none;
	}
	.nmgr-add-items table tr, .nmgr-add-items table td {
		display: block;
	}
	.nmgr-add-items table tr {
		border: 1px solid #ccc;
		margin-bottom: 1.5em;
	}
	.nmgr-add-items table td {
		text-align: right !important;
	}
	.nmgr-add-items table tbody td[data-title]:before, .nmgr-add-items table tbody th[data-title]:before {
		content: attr(data-title) ": ";
		font-weight: 600;
		float: left;
	}
	.nmgr-add-items table tbody td:after, .nmgr-add-items table tbody th:after {
		content: '';
		clear: both;
		display: block;
	}
	.nmgr-add-items table .select2-container,
	.nmgr-add-items table select {
		width: inherit !important;
		max-width: 70% !important;
	}
}

#nmgr-add-items-modal {
	padding-right: 0 !important;
	/* remove 15px padding from bootstrap modal*/
}

.nmgr_add_to_cart_button.disabled {
	cursor: not-allowed;
	opacity: .5;
}

/**------------------------------------------------
Wishlist description textarea
----------------------------------------------------*/
#nmgr_description {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 1.42em;
	height: auto;
	width: 100%;
	outline: 0;
	margin: 10px 0;
	display: block;
}

/**------------------------------------------------
profile form metabox
----------------------------------------------------*/
#nm_gift_registry-profile.postbox .hndle {
	border-bottom: none;
}

#nm_gift_registry-profile.postbox .select2-container {
	width: 100% !important;
}

#nm_gift_registry-profile.postbox .form-row.form-row-first, #nm_gift_registry-profile.postbox .form-row.form-row-last {
	margin-top: 0;
}

#nm_gift_registry-profile.postbox .form-field label ~ input[type=checkbox] {
	margin-left: 5px;
}

#nm_gift_registry-profile.postbox .nmgr-user label {
	display: block;
}

#nm_gift_registry-profile.postbox .wishlist-columns {
	padding-top: 7px;
}

#nm_gift_registry-profile.postbox .nmgr-shipping-fields:before, #nm_gift_registry-profile.postbox .nmgr-shipping-fields:after {
	content: '';
	display: table;
	clear: both;
}

@media (min-width: 767px) {
	#nm_gift_registry-profile.postbox .wishlist-columns {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	#nm_gift_registry-profile.postbox .wishlist-columns .column {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
	}
	#nm_gift_registry-profile.postbox .wishlist-columns.two-col .column {
		-ms-flex-preferred-size: 48%;
		    flex-basis: 48%;
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
	}
}

/**------------------------------------------------
list table
----------------------------------------------------*/
.wp-list-table .nmgr-icon {
	vertical-align: middle;
	fill: currentColor;
}

.wp-list-table .nmgr-post-author {
	font-style: italic;
	color: #888;
}

/**------------------------------------------------
wishlist items metabox
----------------------------------------------------*/
#nm_gift_registry-items.postbox .handlediv, #nm_gift_registry-items.postbox .hndle {
	display: none;
}

#nm_gift_registry-items.postbox .inside {
	margin: 0;
	padding: 0;
}

/**------------------------------------------------
wishlist items table
----------------------------------------------------*/
.nmgr-items-table thead th {
	text-align: left;
	font-weight: 400;
	color: #999;
}

.nmgr-items-table .thumbnail img {
	max-width: 38px;
}

#nmgr-items .after-table-row {
	border-bottom: 1px solid #dfdfdf;
	padding: 1.5em 2em;
	background: #f8f8f8;
	line-height: 2em;
}

.nmgr-items-table.responsive tr td.thumb {
	width: 38px;
}

/**------------------------------------------------
Wp List Table
----------------------------------------------------*/
.wrap.nm_gift_registry table.form-table:last-of-type {
	margin-bottom: 3.125em;
}

.wrap.nm_gift_registry table.form-table .wc_emails_wrapper {
	padding: 0 15px 10px 0;
}

.wrap.nm_gift_registry table.form-table .wc_emails_wrapper table.section-fields td {
	background-color: inherit !important;
}

.wrap.nm_gift_registry table.form-table .select2-container {
	min-width: 23.8125em !important;
}

.wrap.nm_gift_registry table.form-table ~ h2.heading:not(:first-of-type) {
	margin-top: 3.75em;
}

/**------------------------------------------------
General
----------------------------------------------------*/
.nmgr-btn-group > .nmgr-btn input[type=checkbox],
.nmgr-btn-group > .nmgr-btn input[type=radio] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.nmgr-btn-group input + label {
	font-weight: normal;
	margin: 0;
	cursor: pointer;
	text-align: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	padding: 0.5em 0.75em;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.nmgr-btn-group.nmgr-inline input + label {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.nmgr-btn-group input + label:hover,
.nmgr-btn-group input:checked + label,
.nmgr-btn-group input:focus + label {
	background-color: rgba(0, 124, 186, 0.08);
	border-color: #007cba;
	-webkit-box-shadow: 0 0 0 1px #007cba;
	        box-shadow: 0 0 0 1px #007cba;
	outline: 2px solid transparent;
}

.nmgr-btn-group input + label.icon {
	display: inline-block;
	padding: 0;
	line-height: 1 !important;
	background-color: transparent;
}

.nmgr-btn-group input:checked + label.icon .nmgr-icon:not(.checked) {
	display: none;
}

.nmgr-btn-group input:not(:checked) + label.icon .nmgr-icon.checked {
	display: none;
}

.nmgr-input-group:not(.nmgr-inline) > * {
	margin-bottom: 0.375em;
}

.nmgr-input-group.nmgr-inline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.nmgr-input-group.nmgr-inline > *:not(:last-child) {
	margin-right: 1.875em;
}

.nmgr-settings-error {
	color: red;
}

/**------------------------------------------------
Full version settings tab
----------------------------------------------------*/
.nmgr-full-version {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 20px 0;
	padding: 40px;
}

.nmgr-full-version .nmgr-desc {
	font-size: 17px;
}

.nmgr-full-version .nmgr-features {
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.nmgr-full-version .nmgr-features .nmgr-feature {
	margin-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (min-width: 767px) {
	.nmgr-full-version .nmgr-features .nmgr-feature {
		-ms-flex-preferred-size: 48%;
		    flex-basis: 48%;
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
	}
}

.nmgr-full-version .nmgr-features .nmgr-image {
	margin-right: 20px;
}

.nmgr-full-version .nmgr-features .nmgr-info h2 {
	font-size: 20px;
	margin-top: 3px;
}

.nmgr-full-version .nmgr-features .nmgr-info p {
	font-size: 16px;
}

.nmgr-full-version .nmgr-buy-btn {
	background-color: #eee;
	font-size: 16px;
	color: inherit;
	font-weight: 600;
	padding: 16px 28px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 30px;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.nmgr-full-version .nmgr-buy-btn:hover {
	background-color: #d5d5d5;
}
